
<button class="panel-btn hamburger hamburger--vortex" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>

<aside class="panel">
    <nav class="menu">
        <a href="#seccion1">Reloj Digital y alarma sonora</a>
        <a href="#seccion2">Seccion 2</a>
        <a href="#seccion3">Seccion 3</a>
        <a href="#seccion4">Seccion 4</a>
        <a href="#seccion5">Seccion 5</a>
    </nav>
</aside>

<main>
    <section id="seccion1" class="section">
        <h2>Reloj Digital y alarma sonora</h2>
        <div id="reloj"></div>
        <div>
            <button id="activar-reloj">Inciar reloj </button>
            <button id="desactivar-reloj">Detener reloj </button>
            <button id="activar-alarma">Inciar alarma </button>
            <button id="desactivar-alarma">Detener alarma </button>
        </div>
    </section>
    <audio src="assets/alarma-good-morning.mp3" controls></audio>

    <section id="seccion2" class="section">
        <h2>section2</h2>
    </section>
    <section id="seccion3" class="section">
        <h2>section3</h2>
    </section>
    <section id="seccion4" class="section">
        <h2>section4</h2>
    </section>
    <section id="seccion5" class="section">
        <h2>section5</h2>
    </section>
</main>
<button class="scroll-top-btn  hidden">&#11014 </button>
<button class="dark-theme-btn ">🌙</button>
